.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Zajmuje pełną wysokość widoku */
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    margin: 0.5em 0;
  }
  
  input {
    margin-bottom: 1em;
  }
  
  .error {
    color: red;
  }
  